@model IEnumerable<MvcCoreConciertos.Models.Evento>

@{
    ViewData["Title"] = "Index";
    List<Categoria> categorias = ViewData["categorias"] as List<Categoria>;
    string urlsBucket = keys.BucketUrl;
}

<h1>Index</h1>
@if (categorias != null)
{
    <form class="row" method="post">
        <div class="col-md-9">
            <select name="idcategoria" class="form-control">
                @foreach (Categoria ct in categorias)
                {
                    <option value="@ct.IdCategoria">@ct.Nombre</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <button class="btn btn-outline-dark">
                filtrar
            </button>
        </div>
    </form>
}

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdEvento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Artista)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdCategoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEvento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artista)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCategoria)
                    </td>
                    <td>
                        <img src="@(urlsBucket+item.Imagen)" alt="@item.Nombre" width="150px" height="150pxs" />
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
